a {
    color: #ffffffc2;
    text-decoration: none;
}

h1 {
    display: inline-block;
    font-size: 48px;
    background-color: #E6E6FA
}

.header li {
    display: inline-block;
    margin-left: 25px;
}

.navbar-brand {
    font-size: 48px;
}









.footer {
    padding: 30px;
    background-color: #9370d8;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
