* {
    box-sizing: border-box;
  }
  
  /*Body*/
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
    max-width: 1000px;
    margin: auto;
    height: 100%
  }
  
  a {
    color: #ffffffc2;
    text-decoration: none;
}

/*Header*/
h1 {
    display: inline-block;
    color: #ffffff;
    font-size: 48px;
    background-color: #E6E6FA;
    word-break: break-all;
}

.header li {
    display: inline-block;
    margin-left: 25px;
}

/*Container*/
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Navigation Bar*/
.navbar-brand {
    font-size: 48px;
}

/*Grid Layout*/
.row {
    margin: 8px -16px;
}
     
.column {
    float: left;
    width: 25%;
}

/*Footer*/
.footer {
    position: absolute;
    bottom:0;
    width: 100%;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    justify-content: flex-end;
}
