a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    display: inline-block;
    font-size: 48px;
    background-color: #E6E6FA
}

.header li {
    display: inline-block;
    margin-left: 25px;
}